/* 1. Box-sizing: Border-box - Podstawa nowoczesnego CSS.
      Padding nie rozpycha elementów (kluczowe dla BEM). */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* 2. Reset marginesów dla wszystkich elementów, które go domyślnie mają. */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* 3. Ustawienia Body - naprawia problem z fontami. */
body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.5; /* Lepsza czytelność tekstu */
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased; /* Wygładzanie fontów na systemach macOS */
}

/* 4. Reset list - bardzo przydatne przy tworzeniu komponentów menu. */
ul,
ol {
  list-style: none;
}

/* 5. Obrazy i multimedia - sprawia, że są responsywne z automatu. */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Formularze - sprawia, że przyciski i inputy dziedziczą font z body. */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Usuwanie domyślnych obramowań i ułatwienie klikalności przycisków. */
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* 8. Linki - usuwamy domyślne podkreślenia, chyba że ich chcemy. */
a {
  text-decoration: none;
  color: inherit;
}

/* stars
 */

.stars {
  display: flex;
}

.stars__star {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/src/images/star.svg');
}

.stars--0 {
  background-image: url('/src/images/star.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.stars--1 .stars__star:first-child,
.stars--2 .stars__star:nth-child(-n + 2),
.stars--3 .stars__star:nth-child(-n + 3),
.stars--4 .stars__star:nth-child(-n + 4),
.stars--5 .stars__star:nth-child(-n + 5) {
  background-image: url('images/star-active.svg');
  background-repeat: no-repeat;
  background-position: center;
}
